@import "tailwindcss";

@font-face {
    font-family: 'mainfont';
    src: url('/font/Hitchcut-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Optimizes loading performance */
}

.mainfont{
     font-family: 'mainfont';
}